<!-- <div style="text-align: center">
    <h1>404 Not Found</h1>
    <p>Oh no! It looks like the page you're trying to get to is missing!</p>
</div> -->




<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
         
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-warning"> 404</h2>

      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>

        <p>
          We could not find the page you were looking for.<br>
          Please <a href="/login">return to Login</a> and try logging in again.
        </p>

       
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
