

<div class="content-wrapper">
       
    <!-- Filter Card -->
    <section class="content-header">

        <div class="container-fluid">

          <h4>Admin Panel</h4>

          <div class="row mb-2">             
              

                  <div class="col-md-2">
                    <span>Select Date</span>
                    <input type="datetime-local" name="" id="" class="form-control">
                  </div>
                  <div class="col-md-2">
                    <span>Week Start Date</span>
                    <input type="datetime-local" name="" id="" class="form-control">
                  </div>
                  <div class="col-md-2">
                    <span>Week End Date</span>
                    <input type="datetime-local" name="" id="" class="form-control">
                  </div>
                  <div class="col-md-2">
                    
                    <button type="submit" class="btn btn-secondary btn-md mt-4 p-1" ><i class="far fa-eye"></i>&nbsp;View Task</button>
                    
                  </div>
                  <div class="col-md-4">

                  </div>
               
          </div>

        </div>

    </section>

    <!-- Table Card -->
    <section class="content">
      <div class="container-fluid">    

        <div class="row">

          <div class="col-12">

            <div class="card">

              <div class="card-header">

                <span class="card-title">

                  <button type="submit" class="btn btn-secondary btn-sm toastrDefaultSuccess"> <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Row</button>
                  <button type="submit" class="btn btn-secondary btn-sm toastrDefaultInfo"> <i class="far fa-minus-square"></i>&nbsp;&nbsp;Delete</button>

                </span>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Task</th>
                      <th>Activity</th>
                      <th>Sunday</th>
                      <th>Monday</th>
                      <th>Tuesday</th>
                      <th>Wednesday</th>
                      <th>Thursday</th>
                      <th>Friday</th>
                      <th>Saturday</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr>

                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">Task 1</option>
                            <option value="">Task 2</option>
                          </select>
                      </td>

                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">Activity 1</option>
                            <option value="">Activity 2</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                    </tr>
               
                  </tbody>
                  <tfoot>
                
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
        </div>

      </div><!-- /.container-fluid -->
    </section>
    

  </div>


