

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Buttons section -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

          <div class="col-sm-6">
            <button type="submit" class="btn btn-secondary btn-sm toastrDefaultSuccess"> <i class="far fa-check-circle"></i>&nbsp;&nbsp;Submit</button>
            <button type="submit" class="btn btn-secondary btn-sm toastrDefaultInfo"> <i class="far fa-window-close"></i>&nbsp;&nbsp;Close</button>
            <button type="submit" class="btn btn-secondary btn-sm toastrDefaultInfo"> <i class="fas fa-location-arrow"></i>&nbsp;&nbsp;Release</button>
          </div>
       
        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Filter Card -->
    <section class="content-header">

        <div class="container-fluid">

          <div class="row mb-2">             
              

                  <div class="col-md-2">
                    <span>Select Date</span>
                    <input type="datetime-local" name="" id="" class="form-control">
                  </div>
                  <div class="col-md-2">
                    <span>Week Start Date</span>
                    <input type="datetime-local" name="" id="" class="form-control">
                  </div>
                  <div class="col-md-2">
                    <span>Week End Date</span>
                    <input type="datetime-local" name="" id="" class="form-control">
                  </div>
                  <div class="col-md-2">
                    
                    <button type="submit" class="btn btn-secondary btn-md mt-4 p-1" ><i class="far fa-eye"></i>&nbsp;View Task</button>
                  </div>
                  <div class="col-md-4">

                  </div>
               
          </div>

        </div>

    </section>

    <!-- Table Card -->
    <section class="content">
      <div class="container-fluid">    

        <div class="row">

          <div class="col-12">

            <div class="card">

              <div class="card-header">

                <span class="card-title">

                  <button type="submit" class="btn btn-secondary bg-gradient-secondary btn-sm toastrDefaultSuccess"> <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Row</button>
                  <button type="submit" class="btn btn-secondary btn-sm toastrDefaultInfo"> <i class="far fa-minus-square"></i>&nbsp;&nbsp;Delete</button>

                </span>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Task</th>
                      <th>Activity</th>
                      <th>Sunday</th>
                      <th>Monday</th>
                      <th>Tuesday</th>
                      <th>Wednesday</th>
                      <th>Thursday</th>
                      <th>Friday</th>
                      <th>Saturday</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr>

                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">Task 1</option>
                            <option value="">Task 2</option>
                          </select>
                      </td>

                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">Activity 1</option>
                            <option value="">Activity 2</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                      <td>  
                        <select name="" id="" class="form-control">
                            <option value="">00:00</option>
                            <option value="">12:00</option>
                          </select>
                      </td>
                    </tr>
               
                  </tbody>
                  <tfoot>
                
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <!-- Actions / Description Cards -->
    <section class="content-header">

        <div class="container-fluid">

          <div class="row">

            <div class="col-sm-6">
              <div class="card card-outline card-secondary">

                <div class="card card-header" style="background-color: white;box-shadow: none;">
                  <input type="button" value="Action" class="btn btn-secondary btn-sm col-2">
                </div>
        
                <div class="card-body">
        
                  <div class="row">
        
                    <div class="col-5 p-1">
                      <label>Hours :</label>
                    </div>
        
                    <div class="col-7 p-1">
                      <input type="text" class="form-control" placeholder="">
                    </div>
                   
                  </div>
        
                  <div class="row">
        
                    <div class="col-5 p-1">
                      <label>Status :</label>
                    </div>
        
                    <div class="col-7 p-1">
                      <input type="text" class="form-control" placeholder="">
                    </div>
                   
                  </div>
        
                  <div class="row">
        
                    <div class="col-5 p-1">
                      <label>Approver :</label>
                    </div>
        
                    <div class="col-7 p-1">
                      <input type="text" class="form-control" placeholder="">
                    </div>
                   
                  </div>
        
                  <div class="row">
        
                    <div class="col-5 p-1">
                      <label>Premium Pay :</label>
                    </div>
        
                    <div class="col-7 p-1">
                      <input type="text" class="form-control" placeholder="">
                    </div>
                   
                  </div>
        
                  <div class="row">
        
                    <div class="col-5 p-1">
                      <label>Start Time / End Time :</label>
                    </div>
        
                    <div class="col-7 p-1">
                      <input type="text" class="form-control" placeholder="">
                    </div>
                   
                  </div>
        
                  <div class="row">
        
                    <div class="col-5 p-1">
                      <label>Purchase Order :</label>
                    </div>
        
                    <div class="col-7 p-1">
                      <input type="text" class="form-control" placeholder="">
                    </div>
                   
                  </div>
        
                  <div class="row">
        
                    <div class="col-5 p-1">
                      <label>Remaining Quality :</label>
                    </div>
        
                    <div class="col-7 p-1">
                      <input type="text" class="form-control" placeholder="">
                    </div>
                   
                  </div>
        
                </div>
                <!-- /.card-body -->
              </div>
            </div>


            <div class="card card-outline card-secondary col-sm-6">
              <!-- /.card-header -->
              <!-- form start -->
              <form class="mt-3">
                <div class="card-body">
                 
                  <div class="form-group">
                    <label for="exampleFormControlTextarea2">Work Description :</label>
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5"></textarea>
                  </div>
      
                  <div class="form-group">
                    <label for="exampleFormControlTextarea2">Internal Comments :</label>
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5"></textarea>
                  </div>
      
                </div>
                <!-- /.card-body -->
      
               
              </form>
            </div>


          </div>

        </div>

    </section>


    

    <a id="back-to-top" href="#" class="btn bg-gradient-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>

  </div>




